:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  max-height: 100vh;
  background-color: #454545;
}

.form-group {
  margin-bottom: 1.6rem;
  width: 100%;
}

form {
  visibility: hidden;
  transition: all .2s ease-in-out;
}

label {
  font-weight: bold;
}

form label {
  font-size: 1.6rem;
}

.form-control {
  display: block;
  width: 99%;
  margin: 0 auto;
  height: calc(1.8em + 0.78rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
  height: auto;
}

.form-check-input {
  position: absolute;
  margin-top: .5rem;
  margin-left: 6rem;
}

.btn-primary {
  color: #fff;
  background-color: #FF0077;
  border-color: #FF0077;
  width: 99%;
  padding: .6rem;
  border-radius: 5px;
  margin: 1rem auto;
}

#btn-clear {
  margin-bottom: 4.8rem;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ff007763;
  border-color: #ff0077b7;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #FF0077;
}

.menu-lateral {
  width: 5%;
  height: 100%;
  background-color: #202020;
  padding: 1rem;
  color: #ced4da;
  box-shadow: 3px 0 0 #FF0077;
  transition: all .37s ease-in-out;

  position: fixed;
  top: 0;
  left: 0;
}

.btn-expandir {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Alinha os elementos à direita */
}

.btn-expandir i {
  font-size: 2.8rem;
  cursor: pointer;
}

.btn-expandir .bi-x-lg {
  visibility: hidden;
  transition: all .1s ease;
}

.btn-expandir .bi-list {
  position: absolute;
  left: 50%;
  /* Move o elemento para o centro horizontal */
  transform: translateX(-50%);
  /* Centraliza o elemento */
  transition: all .1s ease;
}

.menu-aberto .btn-expandir {
  justify-content: center;
  /* Centraliza os elementos quando o menu está aberto */
}

.menu-aberto .bi-x-lg {
  visibility: visible;
}



.grid-card {
  width: calc(100% - 5%);
  height: calc(100vh - 1.6rem);
  margin: 1.6rem auto auto 5%;
  padding: 0 1.6rem;
  text-align: center;
  transition: all .2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-card h1 {
  font-size: 3.6rem;
  color: #fff;
}

.cards {
  width: 100%;
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 32.92%);
  grid-auto-rows: max-content;
  gap: .8rem;
  padding: 1rem;

  align-items: center;
  align-content: center;
  justify-content: center;
}

.card-content {
  height: 25rem;
  background-color: #252525;
  border-radius: 14px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  z-index: 2;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; */
  /* filter: blur(5px); */
}

.card-content h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  z-index: 2;
}

.card-content span {
  font-size: 2.6rem;
  color: #fff;
  display: block;
  text-align: center;
  margin: 12px auto;
  z-index: 2;

}

.card-content p {
  font-size: 2.2rem;
  color: #fff;
  text-align: center;
  margin: 12px auto;
  z-index: 2;

}

.btn-cards {
  text-align: center;
  z-index: -1;
}

.btn-cards button {
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
  background-color: #B30053;
  cursor: pointer;
  transition: all .3s ease;
}

.btn-cards .btn-concluir {
  margin: 0 .6rem;
}


.btn-cards button:hover {
  background-color: #b3005485;
}

.btn-cards button:focus {
  outline: none;
}

.btn-cards button:active {
  background-color: #6b0032;
}

.item-bg {
  height: 140px;
  width: 140px;
  background-color: #f9b234;

  z-index: -1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.card-content:hover .item-bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.card-content .btn-edit-concluir {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  background-color: #4ebc00;
  cursor: pointer;
  transition: all .3s ease;

  display: none;

  animation-name: highlight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes highlight {
  0% {
    background-color: #4ebc00;
    transform: scale(1);
  }

  50% {
    background-color: #4ebc00c0;
    transform: scale(1.1);
  }

  100% {
    background-color: #4ebc00;
    transform: scale(1);
  }
}

.card-content .btn-edit-concluir:hover {
  background-color: #4ebc00c0;
}

.card-content .btn-edit-concluir:active {
  background-color: #38830270;
}

.data-atual {
  font-size: 2.8rem;
  text-align: center;
  margin-left: .8rem;
  color: #fff;
}

.icon-data i {
  font-size: 3.2rem;
  color: #FF0077;
}

.wellcome {
  margin-top: 20rem;
  width: 60%;
  font-size: 1.6rem;
}

.wellcome h2 {
  color: #FF0077;
}

.wellcome p {
  color: #fff;
  line-height: 2.8rem;
  text-align: justify;
  max-width: 75%;
  margin: 1.6rem auto 0 auto;
  font-size: 1.8rem;
}